@media (max-width: 391px) {

  .contact-form {
    display: flex;
    flex-direction: column;
    margin: 3rem 1rem;
  }

  :is(input, textarea) {
    border: 1px solid black;
    padding: .75rem;
    margin: 0.5rem;
  }
    
  .name-fields input {
    width: 45%;
  }

}