@media only screen and (max-width: 768px) {
  .hero {
    font-size: 2rem;
    color: #BD6087;
    font-weight: bold;
  }
  
  .intro {
    padding: 1rem;
    width: 100%;
  }
  
  
  .img-container img {
    width: 90%;
    object-fit: contain;
    margin: 1rem 0;
    display: block;
  }
  
  .landing-btn {
    background-color: rgba(189, 96, 135, 0.7);
    padding: 0.9rem;
    width: 33%;
    left: 0;
    margin-bottom:1.4rem ;
  }
  
  a, a:visited  {
    text-decoration: none;
    color: black;
    font-weight: 400;
  }
  
  .landing-btn span {
    background-color: transparent;
  }
}

/* Larger than mobile screens */
@media only screen and (min-width: 768px) {

    nav {
      margin: 1rem 1rem 0.25rem 1rem
    }

    nav h3 {
      font-size: 2.5rem;
      margin-left: 1rem;
    }

    .hero {
      font-size: 1rem;
      color: #457979;
      font-weight: bold;  
      margin-left: 2.1rem;
    }

    .landing-info {
      display: flex;
      align-items: center;
      margin: 5rem;
      font-size: 1.75rem;
    }

    .img-container {
      display: flex;
      justify-content: center;
    }
    .img-container img {
      min-width: 50%;
      max-width: 55%;
    }

    .intro {
      font-size: 1.25rem;
      width: 100%;
    }

    .landing-btn {
      background-color: #457979;
      max-width: 15%;
      min-width: 10%;
      padding: 1rem;
      text-align: center;
      color: #F5F5F5;
    }

    .landing-btn span {
      background-color: transparent;
    }
  
    a, a:visited  {
      text-decoration: none;
      color: black;
      font-weight: 400;
    }
}