@media (max-width: 391px) {
  .menu {
    position: fixed;
    top: 0 ;
    height: 8%;
    width: 100%;
    background-color: #F5F5F5;
  }

  .menu-links {
    display: flex;
    background-color: #aeaeae;
    flex: start;
    list-style: none;
  }

  .menu-links li {
    margin: 2rem 1rem;
    background-color: transparent;
  }
}
