@media (max-width: 391px) {
  nav {
    display: flex;
    padding: 1rem 0.75rem 0 0.75rem;
    justify-content: space-between;
    align-items: center;
    color: hsl(0, 0%, 0%);
    font-size: 1.5rem;
  }
  
  /* Menu dropdown */

  /* Menu Icon and animation */
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #000000;
    margin: 6px 0;
    transition: 0.3s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 5px) ;
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-9px, -8px) ;
  }

  .dark {
    background-color: #343434;
    color: #343434;
  }
  
  .nav-header {
    background-color: transparent;
  }
  
  .header-name, .subtitle {
    background-color: transparent;
  }
  
  .nav-header, .menu-icon {
    z-index: 3;
    background-color: transparent;
  }
  
  .header-name, .menu-icon {
    margin: 0.75rem 0.75rem 0 0.75rem;
    margin-bottom: 0;
  }
  
  .subtitle {
    margin-left: 1rem;
    opacity: 0.7;
    text-align: start;
    }
  
}